<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://weatherstat20211028103623.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9a0fbc4c-97ad-4639-83e9-58d769a3316b/resourcegroups/YiweiT_IoT/providers/Microsoft.Web/sites/WeatherStat20211028103623</ResourceId>
    <UserName>$WeatherStat20211028103623</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://weatherstat20211028103623.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>